.login{
    max-width: 360px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    padding: 24px;
    .err{
        border: 1.5px solid red;
    }
    &__title{
        padding-bottom: 20px;
        font-size: 14px;
    }
    &__form {
        position: relative;
        width: 330px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }
    &__login::before{
        z-index: 3;
        content: url('../../assets/email.png');
        position: absolute;
        margin-top: 22px;
        margin-left: 12px;
    }

    &__password::before{
        z-index: 3;
        content: url('../../assets/lock.png');
        position: absolute;
        margin-top: 19px;
        margin-left: 12px;
    }
    &__button {
        cursor: pointer;
        margin: 5px 0px;
        background-color: #ec5252;
        color: #fff;
        padding: 10px 0px;
        border: none;
        font-size: 15px;
        font-weight: 700;
    }
    &__forgot{
        font-size: 14px;
        margin-top: 10px;
        text-align: center;
        a {
            color: #007791;
        }
    }
    &__register{
        font-size: 14px;
        margin-top: 10px;
        text-align: center;
        a {
            font-weight: 700;
            color: #007791;
        }
    }
    &__name::before {
        margin-top: 20px;
        margin-left: 12px;
        z-index: 3;
        content: url('../../assets/user.png');
        position: absolute;
    }
    &__checkbox{
        position: relative;
        display: flex;
        flex-direction: row;
        p{
            max-width: 290px;
            font-size: 14px;
            margin-left: 10px;
            margin-bottom: 10px;
        }
    }
    hr{
        margin-left: -20px;
        width: 350px;
    }
    input{
        position: relative;
        margin: 5px 0px;
    }
    a:hover{
        color: #003845;
    }
}

.input-form{
    border: 1px solid #8a92a3;
    border-radius: 4px;
    padding: 12px 35px;
    font-size: 15px;
    width: 330px;
}

.reg{
    margin-bottom: 20px;
    font-size: 10px;
}

