.udemy{
    hr{
        color: #989586;
    }
    margin: 50px 0px;
    &__items{
        padding: 20px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__item{
        align-items: center;
        display: flex;
        margin: 0px 50px;
        max-width: 320px;
        img{
            margin-right: 15px;
            width: 48px;
            height: 48px;
        }
        h3{
            font-size: 17px;
        }
    }
}
